ul {
   float: right;
   background-color: none;
   height: 20px;
   padding-left: 150px;
}
li {
    display:inline;
    float: left;
    color: white;
}
ul a {
  color: black;
  padding: 0 10px;
  text-decoration: none;
 }
.centered{
  position:fixed;
  left: 40%;
  top: 30%;

}
img {
  height: 300px;
  width: 300px;
}

body {
    background-color: black;
}

.whiteBg {
    background-color: white;
    animation: change-color 2s;
}
@keyframes change-color {
      from {background-color: black;}
      to {background-color: transparent;}
}
