body {
    background: url('Components/bG.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-size: 45%;
    width: 100vw;
    height: 100vh;
    background-color: #c7ebea;
}

.nav-item{
    text-align: right;
}
.brand-text {
  font-family: 'Flavors', cursive;
  font-size: 20px;
}
.card {
      position: fixed;
      width: 20rem;
      background-color: #c7ebea;
      border: none;
}

.centered{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:40%;
    left:42%;
    overflow:visible;
}
img {
    max-width: 100%;
    margin: -2px;
    overflow: hidden;
    text-align: center;
}
.button {
  float: right;
  margin-right: 62%;
}
.resume {
  height: 35vw;
  width: 30vw;
}
.center {
  float: left;
  margin-left: 58%;
}
.text-left {
 float: left;
 margin-left: 35vw;
}
.text-right {
  float: right;
  margin-right: 39vw;
}
.project {
  width: 5%;
  height: auto;
  position: fixed;
  top: 29%;
}
.certification {
  width: 5%;
  height: auto;
  position: fixed;
  top: 25vh;
}
.cv {
  width: 40%;
  height: auto;
  position: fixed;
  top: 21vh;
}
.line1 {
    width: 8%;
    height: auto;
    position: fixed;
    top: 30vh;
    left: 39%;
    
}

.line2 {
    width: 7%;
    height: auto;
    position: fixed;
    top: 28%;
    left: 53%;
}

.line3 {
    width: 8%;
    height: auto;
    position: fixed;
    top: 33vh;
    right: 39%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .project {
      width: 5%;
      height: auto;
      position: fixed;
      top: 45vh;
   }
   .certification {
      width: 5%;
      height: auto;
      position: fixed;
      top: 43vh;
   }
   .cv {
      width: 40%;
      height: auto;
      position: fixed;
      top: 41vh;
   }

   .line1 {
    width: 8%;
    height: auto;
    position: fixed;
    top: 44vh;
    left: 39%;
    }

    .line2 {
        width: 10%;
        height: auto;
        position: fixed;
        top: 45vh;
        left: 54%;
    }

    .line3 {
        width: 9%;
        height: auto;
        position: fixed;
        top: 43vh;
        right: 38%;
    }
}

.bottom-right{
  position: fixed;
  bottom: 8px;
  right: 10px;
}
#overlay {
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  left:0;
  top: 0;
  width:100%;
  height:100%;
}
.fa {
 color: #454241;
}
.fa-github{
   color: #383535;
}
.fa-linkedin {
 color: #383535;
}