ul {
   float: right;
   background-color: none;
   height: 20px;
   padding-left: 150px;
}
li {
    display:inline;
    float: left;
    color: white;
}
ul a {
  color: white;
  padding: 0 10px;
  text-decoration: none;
 }
.centered{
  position:fixed;
  left: 40%;
  top: 30%;

}
img {
  height: 300px;
  width: 300px;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: grey;
   cursor: pointer;
   animation: mymove 5s infinite;
   animation-iteration-count: 1
   }
@keyframes mymove {
      from {background-color: black;}
      to {background-color: transparent;}
}